@font-face {
    font-family: "MyriadPro-Light";
    src: url(MyriadPro-Light.otf) format("opentype");
}

body{
	margin: 0;
	padding: 0;
}

#content{
	margin: 0 auto;
	width: 500px;
	min-height:100%;
}

#callus{
	font-family: MyriadPro-Light;
	font-size:30px;
	margin:0 auto;
	text-align:center;
	color: #595959;
}

footer{
	margin:0 auto;
	top:400px;
	left:292px;
	position: absolute;
	font-size: 36px
}

.centeredLong{
	width: 473px;
	height: 60px;
	border-radius: 0px;
	padding:0px 15px 0px 15px;
	clear:both;
	border:1px solid #979797;
	font-size: 36px;
	margin: 10px auto;
	font-family: MyriadPro-Light;
	background-color: none


}



.centeredShort{
	width: 473px;
	height: 46px;
	border-radius: 0px;
	padding:0px 15px 0px 15px;
	clear:both;
	border:1px solid #979797;
	font-size: 28px;
	margin: 10px auto;
	font-family: MyriadPro-Light;
	background-color: none


}

